Authlib~=0.15.3
casbin~=0.16.2
click~=7.1.2
Cython~=0.29.21
Flask~=1.1.2
furl~=2.1.0
logzero~=1.6.3
marshmallow~=3.10.0
requests~=2.25.1
rsa~=4.7
SQLAlchemy~=1.3.23
Werkzeug~=1.0.1

PyJWT~=2.1.0
setuptools~=56.0.0